/*
    ==============================================
                ****** RESET ******
    ==============================================
*/
body {
  margin: 0;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

/*
    ==============================================
                ****** GLOBAL ******
    ==============================================
*/

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.top-nav {
  background-color: #2d76ee;
  color: white;
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "navbar2 navbar2" "navbar3 navbar4";
}

.navbar2-a {
  border-bottom: 0.5px solid white;
  grid-area: navbar2;
  font-size: 0.8rem;
  padding: 1rem;
  line-height: 1.4rem;
}

.navbar3 {
  grid-area: navbar3;
  display: flex;
  align-items: center;
  border-right: 0.5px solid white;
}

.navbar4 {
  grid-area: navbar4;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navbar1 {
  display: none;
}

.navbar2-b {
  display: none;
}

.per-link {
  padding-left: 1rem;
}

.fund-middle a {
  color: #555;
}

.navbar3,
.navbar4 {
  padding: 0.5rem;
}

.yellow-a a {
  color: black;
}

.navbar3:hover,
.navbar4:hover {
  background-color: white;
  color: #2d76ee;
}

.footer-links a {
  padding: 0.5rem;
  font-size: 0.7rem;
  color: rgb(241, 224, 207);
}

.navbar3:hover a,
.navbar4:hover a {
  color: #2d76ee;
}

.bottom-nav-b {
  display: none;
}

.bottom-nav {
  border-top: rgb(207, 207, 207) solid 0.4rem;
}

.middle-bottom-nav {
  display: flex;
  width: 100%;
}

.left {
  background-color: black;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: flex-start;
}

.left:hover {
  cursor: pointer;
  background-image: url("https://source.unsplash.com/random/120x80");
}

.right {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  background-color: white;
}

.left img {
  width: 4rem;
  height: auto;
}

.right img {
  width: 1rem;
  height: auto;
}

.search,
.burger {
  padding: 0.5rem;
  border: solid 0.2px lightgray;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.yellow-a {
  background-color: rgb(255, 208, 0);
  width: 100vw;
  padding: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  height: auto;
  white-space: nowrap;
}

/* THE FUND SECTION */

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  gap: 2rem;
}

.fund1 {
  width: auto;
  box-sizing: border-box;
}

.top-1 {
  background-color: #f42;
  padding: 10.6666666667px 16px 10.6666666667px 84px;
  color: white;
}

.top-2 {
  background: rgba(255,68,34,.08);
  padding: 10.6666666667px 16px 10.6666666667px 84px;
}

.top2-p {
  color: rgba(0, 0, 0, 0.50);
}

.top-2 h4 {
  font-size: 18px;
}

.fund-top img {
  position: absolute;
  padding: 0.8rem;
}

.fund-middle {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.fund-middle i {
  padding: 0.3rem;
}

.fund-middle,
.fund-bottom {
  background-color: rgba(255,68,34,.02);
}

.fund-bottom {
  border-top: 1px solid rgba(255, 67, 34, 0.397);
  padding: 1rem;
}

.fund-bottom p {
  color: rgb(48, 48, 48);
}

.fund-bottom abbr {
  color: rgb(122, 122, 122);
}

/*
    ==============================================
                ****** HEAD SECTION ******
    ==============================================
*/

.head {
  margin-top: 14rem;
}

.left-head {
  background-size: 100% 100%;
  height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

.top-right {
  background-image: url(assets/Opal-796x417.jpg);
}

.top-right-head {
  background-image: url(assets/top-right.webp);
}

.bottom-right-head {
  background-image: url(assets/bottom-right.png);
}

.left-head h2 {
  display: none;
}

.tnw-bottom {
  color: #fff;
  font-size: 1rem;
  font-weight: 900;
}

.author {
  font-size: 0.7rem;
}

/*
    ==============================================
                ****** TOP FOOTER ******
    ==============================================
*/

.top-footer {
  background-color: rgb(34, 32, 32);
}

.social-links {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.social-links li {
  padding: 1rem;
}

.social-links li:hover {
  background-color: black;
}

.footer-links {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

.footer-links a:hover {
  color: #fff;
}

/*
    ==============================================
                ****** BASE FOOTER ******
    ==============================================
*/

.bottom-footer {
  background-color: black;
  color: white;
  padding-bottom: 2rem;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
}

.footer-img1 {
  width: 10%;
}

.footer-img2 {
  width: 20%;
}

.last {
  display: inline;
  font-size: 0.7rem;
  line-height: 1.3rem;
}

.fa-universal-access {
  background-color: #2d76ee;;
  position: absolute;
  right: 0%;
}
